<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
      http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
    <!-- To activate CDI decorator, it must be specified below -->
    <!-- 改变decorators类的顺序，观察一下浏览器的不同输出 -->
    <decorators>
        <class>cn.edu.sdut.softlab.FlooredDecorator</class>
        <class>cn.edu.sdut.softlab.PaintedDecorator</class>
    </decorators>
</beans>
